@charset "utf-8";

body {
	background-color:#396DA5;
	margin-left: 10%;
	margin-right: 10%;
	padding: 16px;
	color:#fff;
	font:"微软雅黑";
	font-size:16px;
}
	
.title {
	background-color:#08246B;
	padding:2px;
	height:22px
}

.window {
	border:6px #ccc outset;
	width:680px;
	height:442px;
	background-color:#000;
	position:absolute;
	top:40px;
	left:68px;
	overflow:hidden
}
	
#text {
	background-color:#000;
	border-top:#ccc outset 2px;
	height:600px
	overflow-y:scroll;
}
	
ul {
	margin:0px;
	padding:0px;
	list-style:none;
}

input {
	background-color:#000;
	border:0;
	color:#fff;
        font:"微软雅黑";
	font-size:16px;
	outline:none;
	width:100%
}
